# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Environment and IDE files
.env
.venv/
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite
*.db
*.pickle

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Distribution / packaging
.Python
env/
downloads/

